version: '3.8'

services:
  backend:
    container_name: portfolio-backend
    platform: linux/amd64

    build:
      context: ./backend
      dockerfile: Dockerfile

    ports:
      - "3001:3001"
    environment:
      - PORT=3001
  frontend:
    container_name: portfolio-frontend
    platform: linux/amd64

    build:
      context: ./frontend
      dockerfile: Dockerfile

    ports:
      - "5173:5173"
    
    depends_on:
      - backend