version: '3.8'

services:
  backend:
    container_name: portfolio-backend
    platform: linux/amd64

    build:
      context: ./backend
      dockerfile: Dockerfile

    ports:
      - "3001:3001"
    environment:
      - PORT=3001